@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
}

.decorated-corner-size {
    width: clamp(112px, 12.7vw, 244px);
    height: auto;
}
